{% comment %} extract information from collection agency{% endcomment %}
{% include agency/utils/site-config/extract_footer.html %}

<footer>
    <div class="container">
        <div class="row">


            {% for index_item in (0..array_items_size) %}

                {% assign index_array_part = array_items[index_item] | plus: 0  %}
                {% assign item_tmp = raw_items[index_array_part] %}

                {% if item_tmp.order < 100 %}
                    <div class="col-md-4">

                        {% if item_tmp.element-ref == 'span' %}
                            <span class="{{item_tmp.element-id}}">{{item_tmp.content | strip_html }}</span>

                        {% elsif item_tmp.element-ref == 'list' %}

                            {% if item_tmp.content contains '<ul>' %}

                                {% assign ul_inline = '<ul class="list-inline ' | append: item_tmp.element-id | append: '">' %}
                                {% assign content_adapt = item_tmp.content | replace_first: '<ul>', ul_inline %}

                                {{content_adapt}}
                                                              
                            {% endif %}                                                
                        {% endif %}

                    </div>                
                {% endif %}
             
            {% endfor %}


        </div>
    </div>
</footer>
