{% include coll_ext/config/common-param.html %}

{% assign path_ref = '/site-config/background-images/' %}
{% assign model_sort_ref = 'background-images-order' %}

{% for list in site.data.agency.list-detail-items %}
  {% if list.id == model_sort_ref %} 
    {% if list.force_display_coll_ext == true %}
      {% include coll_ext/extra_utils/list-detail-items_init_step.html %}
     
      {% include coll_ext/main.html
        force_page_ref_input=true
        force_no_display=true       
      %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign array_items = items_display_subsection | remove_first: delim | split: delim %}
{% assign array_items_size = array_items.size | minus: 1 %}




{% for index_item in (0..array_items_size) %}

  {% assign index_array_part = array_items[index_item] | plus: 0  %}
  {% assign item_tmp = raw_items[index_array_part] %}

  {% if item_tmp.element-ref %}

    {% assign elt_ref = item_tmp.element-ref %}  
    {% if item_tmp.element-id %}
      {% assign elt_ref = elt_ref | append: '#' | append: item_tmp.element-id %}
    {% endif %}

    {% assign src_img = '' %}
    {% include coll_ext/extra_utils/path-image-src.html 
        path_image=item_tmp.image
    %}

    {% assign css_part = elt_ref %}
    {% assign css_part = css_part | append: ' {background-image: url("' %}
    {% assign css_part = css_part | append: src_img | append: '");}' %}

    {{css_part}}

  {% endif %}
{% endfor %}
