
{% include coll_ext/config/common-param.html %}


{% assign collection_label = 'agency' %}
{% assign default_order_sort_coll = 'order' %}

{% assign path_ref_bg_section = '/site-config/background-sections/' %}
{% assign path_ref_bg_footer = '/site-config/footer/' %}



{% assign color_bg_sections_alt1_gl = "#ffffff" %}
{% assign color_bg_sections_alt2_gl = "#ffffff" %}
{% assign color_bg_sections_alt3_gl = "#ffffff" %}
{% assign color_bg_sections_default_custom_gl = "#ffffff" %}
{% assign color_bg_color_footer_gl = "#ffffff" %}

{% for collection in site.collections %}
  {% if collection.label == collection_label %}
    {% assign raw_items_init = collection.docs %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign items_tmp = raw_items_init | sort: default_order_sort_coll %}


{% for item_tmp in items_tmp %}

  {% if item_tmp.path contains path_ref_bg_section %}
    {% if item_tmp.path contains extension_section_path  %}

        {% if item_tmp.bg_sections_alt1 != null %}
          {% assign color_bg_sections_alt1_gl = item_tmp.bg_sections_alt1 %}
        {% endif %}
        {% if item_tmp.bg_sections_alt2 != null %}
          {% assign color_bg_sections_alt2_gl = item_tmp.bg_sections_alt2 %}
        {% endif %}
        {% if item_tmp.bg_sections_alt3 != null %}
          {% assign color_bg_sections_alt3_gl = item_tmp.bg_sections_alt3 %}
        {% endif %}
        {% if item_tmp.bg_sections_default_custom != null %}
          {% assign color_bg_sections_default_custom_gl = item_tmp.bg_sections_default_custom %}
        {% endif %}

    {% endif %}
  {% endif %}

  {% if item_tmp.path contains path_ref_bg_footer %} 
    {% if item_tmp.path contains extension_section_path  %}

        {% if item_tmp.bg_color_footer != null %}
          {% assign color_bg_color_footer_gl = item_tmp.bg_color_footer %}
        {% endif %}

    {% endif %}
  {% endif %}

{% endfor %}


