{% comment %} 
- extract color variables from _agency/site-config/palette-color/XXXX.md  
{% endcomment %}
{% include agency/utils/site-config/add-scss/palette-color.html %}

{% comment %} 
- extract background section color variables from _agency/site-config/background-sections/index.md  
{% endcomment %}
{% include agency/utils/site-config/add-scss/background-sections-footer.html %}

{% comment %} 
- extract font family variables from _agency/site-config/font-family/index.md  
{% endcomment %}
{% include agency/utils/site-config/add-scss/google-font.html %}
