{% include coll_ext/config/common-param.html %}

{% assign collection_label = 'agency' %}
{% assign path_ref = '/site-config/background-sections/' %}
{% assign default_order_sort_coll = 'order' %}

{% for collection in site.collections %}
  {% if collection.label == collection_label %}
    {% assign raw_items_init = collection.docs %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign items_tmp = raw_items_init | sort: default_order_sort_coll %}
{% for item_tmp in items_tmp %}    
  {% if item_tmp.path contains path_ref %} 
    {% if item_tmp.path contains extension_section_path  %}
        {% assign type_background_section = item_tmp.type_background_section %}
        {% comment %}
        - info color extract on : _includes/agency/utils/add_scss/background-sections-footer.html    
        {% endcomment %}
    {% endif %}
  {% endif %}
{% endfor %}
