{% include coll_ext/config/common-param.html %}


{% assign path_ref = '/site-config/footer/' %}
{% assign model_sort_ref = 'footer-order' %}

{% for list in site.data.agency.list-detail-items %}
  {% if list.id == model_sort_ref %} 
    {% if list.force_display_coll_ext == true %}
      {% include coll_ext/extra_utils/list-detail-items_init_step.html %}
     
      {% include coll_ext/main.html
        force_page_ref_input=true
        force_no_display=true       
      %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign array_items = items_display_subsection | remove_first: delim | split: delim %}
{% assign array_items_size = array_items.size | minus: 1 %}

{% comment %}
- info color backgorund extract on : _includes/agency/utils/add_scss/background-sections-footer.html    
{% endcomment %}