{% comment %} extract information from collection agency{% endcomment %}
{% include agency/utils/home-page-sections/extract-info/default_section.html
    name_id = include.name_id
%}


<section id="{{include.name_id}}" class="{{include.class_bg_color}}" style="{{include.add_custom_style}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{section_heading}}</h2>
                <h3 class="section-subheading text-muted">{{section_subheading}}</h3>
            </div>
        </div>
        <div class="row text-center">
        {% for index_item in (0..array_items_size) %}

            {% assign index_array_part = array_items[index_item] | plus: 0  %}
            {% assign item_tmp = raw_items[index_array_part] %}

            <div class="col-md-4">
            
                {% if item_tmp.type-miniature == 'font-awesome' %}
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa {{item_tmp.miniature}} fa-stack-1x fa-inverse"></i>
                    </span>
                {% endif %}

                {% if item_tmp.type-miniature == 'image-circle' %}
                    {% picture services-miniature {{item_tmp.miniature}} alt="service {{item_tmp.title}}" %}
                {% endif %}

                <h4 class="service-heading">{{item_tmp.title}}</h4>
                <div class="text-muted">
                    {{item_tmp.content}}
                </div>                   
            </div>                
        {% endfor %}
        </div>
    </div>
</section>