---
layout: compress
---

<!DOCTYPE html>
<html>

    {% include agency/head.html %}


    <body id="page-top" class="index">

        {% comment %} extract SECTIONS home page information from collection agency {% endcomment %}
        {% include agency/utils/home-page-sections/extract-info/sections.html %}
        {% comment %} output : array_sections , raw_items_section {% endcomment %}
        {% comment %}----------------------{% endcomment %}


        {% include agency/header.html %}


        {% comment %}
            specific sections with modal
        {% endcomment %}
        {% assign active_modal_portfolio = false %}


        {% comment %}background color section{% endcomment %}
        {% include agency/utils/site-config/extract_background-sections.html %}
        {% comment %}
        - class bg-section-alt1 bg-section-alt2 bg-section-custom-default, see _includes/agency/utils/add_css_var_gl_background-sections-footer.html
        - type_background_section : ["Alternate","Alternate-Custom","Custom"]
        {% endcomment %}
        {% assign current_class_bg_section = "" %} 
        {% if type_background_section contains "Alternate" %}
            {% assign current_class_bg_section = "bg-section-alt1" %}            
        {% endif %}

        {% assign active_custom_bg_section = false  %}
        {% assign default_cutom_bg_section = "" %}   
        {% if type_background_section contains "Custom" %}
            {% assign active_custom_bg_section = true  %} 
            {% assign default_cutom_bg_section = "bg-section-custom-default" %}
            {% unless type_background_section contains "Alternate" %}
                {% assign current_class_bg_section = "bg-section-custom-default" %}            
            {% endunless %}         
        {% endif %}
        {% comment %}----------------------{% endcomment %}



        {% comment %}
            collection sections boostrap; TODO, new sections add here !! 
        {% endcomment %}
        {% for index_section in (0..array_sections_size) %}

            {% assign index_array_part = array_sections[index_section] | plus: 0  %}
            {% assign section_tmp = raw_items_section[index_array_part] %}
            

            {% assign name_id= null %}
            {% include coll_ext/utils/extract_from_url/name_id.html 
                url=section_tmp.url
                last_part_only=true
            %}

            {% comment %}custom bg section, add style{% endcomment %}
            {% assign style_section = '' %}
            {% if type_background_section contains "Custom" %}                
                {% if section_tmp.checked_custom_bg != null and section_tmp.checked_custom_bg == true %}
                    {% if section_tmp.custom_bg_color != null and section_tmp.custom_bg_color != '' %}
                        {% assign style_section = style_section | append: ' background-color:' | append: section_tmp.custom_bg_color | append: ';' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% comment %}---------------------{% endcomment %}
            

            {% if name_id == 'services' %}
                {% include agency/home-page-sections/services.html
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
            {% endif %}
            {% if name_id == 'portfolio' %}                
                {% include agency/home-page-sections/portfolio_grid_modal.html 
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
                {% assign active_modal_portfolio = true %}
                {% assign active_modal_id = name_id %}               
            {% endif %}
            {% if name_id == 'about-timeline' %}
                {% include agency/home-page-sections/about-timeline.html 
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
            {% endif %}
            {% if name_id == 'team' %}
                {% include agency/home-page-sections/team.html  
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
            {% endif %}
            {% if name_id == 'clients' %}
                {% include agency/home-page-sections/clients.html  
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
            {% endif %}
            {% if name_id == 'contact' %}
                {% include agency/home-page-sections/contact.html  
                    name_id=name_id
                    class_bg_color=current_class_bg_section
                    add_custom_style=style_section
                %}
            {% endif %}



            {% comment %}bg color section, mode alternate, update{% endcomment %}
            {% if type_background_section contains "Alternate" %}                
                {% if type_background_section contains "Alternate3" %}                
                
                    {% assign mod3 =  forloop.index | modulo:3 %}
                    {% if mod3 == 0 %}
                        {% assign current_class_bg_section = "bg-section-alt1" %}
                    {% endif %}
                    {% if mod3 == 1 %}
                        {% assign current_class_bg_section = "bg-section-alt2" %}
                    {% endif %}
                    {% if mod3 == 2 %}
                        {% assign current_class_bg_section = "bg-section-alt3" %} 
                    {% endif %}
                {% else %}
                    
                    {% assign mod2 =  forloop.index | modulo:2 %}
                    {% if mod2 == 0 %}
                        {% assign current_class_bg_section = "bg-section-alt1" %}
                    {% endif %}
                    {% if mod2 == 1 %}
                        {% assign current_class_bg_section = "bg-section-alt2" %} 
                    {% endif %}
                {% endif %}                   
            {% endif %}
            {% comment %}---------------------{% endcomment %}


            
        {% endfor %}    


        {% include agency/footer.html %}

        {% if active_modal_portfolio == true %}
            {% include agency/home-page-sections/portfolio_modals.html 
                name_id = active_modal_id
            %}
        {% endif %} 
        
        
        {% include agency/js.html %}

    </body>
</html>